<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.dulaoshi.blog.dao.BlogConfDao">

	<resultMap type="BlogConf" id="blogConfResult">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="value" column="value"/>
	</resultMap>
	
	<insert id="add" parameterType="Link">
		insert into t_blog_conf values(null,#{name},#{value});
	</insert>
	
	<update id="update" parameterType="Link">
		update t_blog_conf
		<set>
			<if test="name != null and name !=''">
				name = #{name},
			</if>
			<if test="value != null and value !=''">
				value = #{value},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<select id="findByName" parameterType="string" resultMap="blogConfResult">
		select * from t_blog_conf tbc where tbc.name = #{name}
	</select>
	
</mapper> 